{
  "root": true,
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:eslint-plugin/recommended",
    "plugin:i/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "overrides": [
    {
      "files": "test/src/**/*.js",
      "env": {
        "jest": true
      }
    }
  ]
}
