lib
coverage
node_modules
test/fixtures/malformed.js
test/fixtures/with-syntax-error
test/fixtures/just-json-files/invalid.json
test/fixtures/typescript-d-ts/
# unexpected - TODO: report to eslint-plugin-ft-flow
test/fixtures/cycles/flow-typeof.js
test/fixtures/flowtypes.js
# unexpected - TODO: report to babel
test/fixtures/jsx.js
!/.*.js
