{
  "overrides": [
    {
      "files": "**.ts",
      "parser": "@typescript-eslint/parser",
      "extends": "../../../config/typescript",
      "rules": {
        "import-x/export": "error",
      },
    },
  ],
}
