name: CI

on:
  - push
  - pull_request

jobs:
  ci:
    name: Lint and Test with Node.js ${{ matrix.node }} and ESLint ${{ matrix.eslint }} on ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          # - windows-latest
        node:
          - 18
          - 20
          - 22
        eslint:
          - '8.56'
          - '8'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup target Node.js to enable Corepack
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js ${{ matrix.node }} with cache
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
        env:
          # https://github.com/actions/setup-node/issues/531#issuecomment-1819151412
          SKIP_YARN_COREPACK_CHECK: 1

      - name: Install ESLint ${{ matrix.eslint }}
        run: |
          yarn add -D --ignore-engines eslint@${{ matrix.eslint }}

      - name: Install Dependencies
        run: yarn --ignore-engines
        env:
          SKIP_YARN_COREPACK_CHECK: 1

      - name: Build and Test
        run: |
          yarn test-compiled
          yarn test
        env:
          SKIP_YARN_COREPACK_CHECK: 1

      - name: Lint
        run: yarn lint
        env:
          EFF_NO_LINK_RULES: true
          PARSER_NO_WATCH: true
          SKIP_YARN_COREPACK_CHECK: 1
        if: ${{ matrix.node == 20 }}

      - name: Codecov
        uses: codecov/codecov-action@v3
